*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


.menu{
    float: top;
    border: solid red 3px;
}


.principal{
    text-align: center;
    border: solid blue 3px;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 10px;
}


.infed{
    float: right;
    border: solid green 3px;
    position:relative
}


.rodape{
    border: solid black 3px;
    position: relative;

}






