*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
}

html,body{
    height: 100%;
}

.post{
    max-width: 1250px;
    margin: 0 auto;

}

.right{
    float: right;
    border: solid green 3px;
}

.left{
    float: left;
    border: solid red 3px;
}

.rodape{
    
}





